@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: "Montserrat", sans-serif;
	margin: 0;
}

h1 {
	font-size: 3.5em;
	margin: 20px auto;
}
h2 {
	font-size: 2.7em;
	margin: 20px auto;
}
h3 {
	font-size: 2em;
	margin: 20px auto;
}
h4 {
	font-size: 1.5em;
	margin: 20px auto;
	text-align: center;
}
p {
	font-size: 1.25em;
	margin: 20px auto;
	line-height: 120%;
	text-align: justify;
}
ul {
	list-style: none;
}
li {
	font-size: 1.25em;
}

header {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	position: relative;
	padding: 0 2rem;
	background-color: rgb(245, 245, 245);
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 1;
}

.navbar {
	width: 100%;
	height: 90px;
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbar li {
	list-style: none;
}

.navbar a {
	text-decoration: none;
	color: black;
	font-size: 1rem;
	font-weight: bolder;
}

.navbar a:hover {
	color: blueviolet;
}

.navbar .logo a {
	font-size: 1.5rem;
	font-weight: bold;
	background-color: blueviolet;
	border-radius: 90px 90px 30px 30px;
	margin: 10px 0;
	padding: 25px 30px;
	font-weight: bold;
	color: white;
	font-size: 1.6em;
}

.navbar .links {
	display: none;
}

.navbar .toggle_btn {
	color: black;
	font-size: 1.5rem;
	cursor: pointer;
	display: block;
}

.action_btn {
	background-color: orange;
	color: #fff;
	padding: 0.5rem 1rem;
	border: none;
	outline: none;
	border-radius: 20px;
	font-size: 0.8rem;
	font-weight: bold;
	cursor: pointer;
}

.action_btn:hover {
	scale: 1.05;
	color: #fff;
}

.action_btn:active {
	scale: 0.95;
}

.dropdown_menu {
	display: block;
	position: absolute;
	right: 2rem;
	top: 90px;
	height: 0;
	width: 300px;
	background: rgba(235, 228, 228, 0.8);
	backdrop-filter: blur(50px);
	border-radius: 10px;
	overflow: hidden;
	transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
	height: 210px;
	padding: 10px auto;
}

.dropdown_menu li {
	padding: 0.7rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.dropdown_menu .action_btn {
	width: 100%;
	display: flex;
	justify-content: center;
}

button {
	font-size: 1.25em;
	font-weight: bold;
	padding: 10px 30px;
	border-radius: 15px;
	border: 2px solid rgba(0, 0, 0, 0.3);
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
	color: white;
	background-color: blueviolet;
}

button:hover {
	background-color: rgb(101, 33, 165);
}

.container {
	max-width: 1400px;
	margin: auto;
}

.color-acento {
	color: blueviolet;
}

#somos-proya .container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	padding: 100px 12px;
}

#somos-proya .img-container {
	padding: 20px 10px;
	background-image: url("../media/quien-somos.jpg");
	background-size: cover;
	background-position: center center;
	height: 200px;
	width: 200px;
	border-radius: 20px;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

footer {
	background-color: rgb(230, 230, 230);
}

footer p {
	margin: 0;
	padding: 12px;
	color: rgb(100, 100, 100);
}

footer .container {
	height: 50px;
	display: flex;
	align-items: center;
}

@media (min-width: 850px) {
	.navbar .links {
		display: flex;
		gap: 2rem;
	}

	.navbar .toggle_btn {
		display: none;
	}

	.dropdown_menu {
		display: none;
	}

	#hero h1 {
		font-size: 5em;
	}

	#somos-proya .container {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
	}

	#somos-proya .texto {
		width: 50%;
		max-width: 600px;
		text-align: initial;
		padding-left: 30px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	#somos-proya h2 {
		margin-top: 0px;
	}

	#somos-proya .container {
		flex-direction: row;
	}

	#somos-proya .img-container {
		height: 500px;
		width: 400px;
	}

	footer .container {
		justify-content: flex-end;
	}
}

@media (max-width: 576px) {
	.dropdown_menu {
		left: 2rem;
		width: unset;
	}
}
