@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
	--rose: 245, 218, 210;
	--background: 252, 255, 224;
	--lightgreen: 186, 205, 146;
	--green: 117, 164, 127;
	--text: 51, 51, 51;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: "Montserrat", sans-serif;
	background-color: rgb(var(--background));
}

header {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	position: relative;
	padding: 0 2rem;
	background-color: rgb(var(--rose));
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 1;
}

.navbar {
	width: 100%;
	height: 90px;
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbar li {
	list-style: none;
}

li::marker {
	content: "";
}

.navbar a {
	text-decoration: none;
	color: rgb(var(--text));
	font-size: 1rem;
	font-weight: bolder;
}

.navbar a:hover {
	color: rgb(var(--green));
}

.navbar .logo a {
	font-size: 1.5rem;
	font-weight: bold;
	background-color: rgb(var(--lightgreen));
	border-radius: 90px 90px 30px 30px;
	margin: 10px 0;
	padding: 25px 30px;
	font-weight: bold;
	color: rgb(var(--text));
	font-size: 1.6em;
}

.navbar .links {
	display: none;
}

.navbar .toggle_btn {
	color: rgb(var(--text));
	font-size: 1.5rem;
	cursor: pointer;
	display: block;
}

.action_btn {
	background-color: rgb(var(--green));
	color: rgb(var(--text));
	padding: 0.5rem 1rem;
	border: none;
	outline: none;
	border-radius: 20px;
	font-size: 0.8rem;
	font-weight: bold;
	cursor: pointer;
}

.action_btn:hover {
	scale: 1.05;
	color: rgb(var(--rose));
}

.action_btn:active {
	scale: 0.95;
}

.dropdown_menu {
	display: block;
	position: absolute;
	right: 2rem;
	top: 90px;
	height: 0;
	width: 300px;
	background: rgba(var(--rose), 0.8);
	backdrop-filter: blur(50px);
	border-radius: 10px;
	overflow: hidden;
	transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
	height: 210px;
}

.dropdown_menu li {
	padding: 0.7rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.dropdown_menu .action_btn {
	width: 100%;
	display: flex;
	justify-content: center;
}

#formulario {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	padding: 30px;
}

.form-content {
	background: linear-gradient(
			50deg,
			rgba(var(--lightgreen), 1) 50%,
			rgba(var(--green), 0.7)
		),
		url(/media/grupales.webp);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 50px;
	width: 100%;
	border-radius: 25px;
	margin: 20vh auto;
}

.form-content h2 {
	color: rgb(var(--text));
	font-size: 35px;
	margin-bottom: 25px;
}

form {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.select-box {
	position: relative;
	margin-bottom: 20px;
}

.select-box input {
	width: 100%;
	border: 0.1rem solid transparent;
	outline: none;
}

input[type="tel"] {
	border-radius: 0 0.5rem 0.5rem 0;
	margin: 0;
}

.select-box input:focus {
	border: 0.1rem solid yellow;
}

.selected-option {
	background-color: rgb(var(--green));
	border-radius: 0.5rem;
	overflow: hidden;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.selected-option div {
	position: relative;

	width: 6rem;
	padding: 0 2.8rem 0 0.5rem;
	text-align: center;
	cursor: pointer;
}

.selected-option div::after {
	position: absolute;
	content: "";
	right: 0.8rem;
	top: 50%;
	transform: translateY(-50%) rotate(45deg);

	width: 0.8rem;
	height: 0.8rem;
	border-right: 0.12rem solid rgb(var(--text));
	border-bottom: 0.12rem solid rgb(var(--text));

	transition: 0.2s;
}

.selected-option div.active::after {
	transform: translateY(-50%) rotate(225deg);
}

.selected-option strong {
	color: rgb(var(--text));
}

.select-box .options {
	position: absolute;
	top: 4rem;

	width: 100%;
	background-color: rgb(var(--background));
	border-radius: 0.5rem;

	display: none;
}

.select-box .options.active {
	display: block;
	background-color: rgb(var(--rose));
}

.select-box .options::before {
	position: absolute;
	content: "";
	left: 1rem;
	top: -1.2rem;

	width: 0;
	height: 0;
	border: 0.6rem solid transparent;
	border-bottom-color: rgb(var(--text));
}

input.search-box {
	background-color: rgb(var(--text));
	color: white;
	border-radius: 0.5rem 0.5rem 0 0;
	background-color: rgb(var(--text));
}

input.search-box::placeholder {
	color: white;
}

.select-box ol {
	list-style: none;
	max-height: 23rem;
	overflow: overlay;
}

.select-box ol::-webkit-scrollbar {
	width: 0.6rem;
}

.select-box ol::-webkit-scrollbar-thumb {
	width: 0.4rem;
	height: 3rem;
	background-color: var(--green);
	border-radius: 0.4rem;
}

.select-box ol li {
	padding: 1rem;
	display: flex;
	justify-content: space-between;
	cursor: pointer;
}

.select-box ol li.hide {
	display: none;
}

.select-box ol li:not(:last-child) {
	border-bottom: 0.1rem solid rgb(var(--text));
}

.select-box ol li:hover {
	background-color: rgb(var(--green));
}

.select-box ol li .country-name {
	margin-left: 0.4rem;
}

label {
	font-size: 17px;
	color: rgb(var(--text));
	margin-bottom: 10px;
}

input,
textarea {
	padding: 17px 14px;
	background-color: rgb(var(--green));
	border: none;
	font-size: 17px;
	color: rgb(var(--text));
	margin-bottom: 20px;
	border-radius: 10px;
}

:focus {
	outline: 1px solid yellow;
}

.btn {
	font-size: 1.25em;
	font-weight: bold;
	padding: 10px 30px;
	border-radius: 15px;
	border: 2px solid rgba(0, 0, 0, 0.3);
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
	color: rgb(var(--text));
	background-color: rgb(var(--green));
	align-self: flex-end;
	cursor: pointer;
}

.btn:hover {
	background-color: rgb(var(--lightgreen));
}

@media (min-width: 850px) {
	.navbar .links {
		display: flex;
		gap: 2rem;
	}

	.navbar .toggle_btn {
		display: none;
	}

	.dropdown_menu {
		display: none;
	}

	#formulario {
		padding: auto;
	}

	form {
		width: 50%;
	}
}

@media (max-width: 576px) {
	.dropdown_menu {
		left: 2rem;
		width: unset;
	}
}
